@media screen and (min-width: 1080px) {
    .navbar {
        padding: 16px 100px 0;
        box-shadow: none;
        border: none;
    }
    .logo button h1 span {
        font-size: 40px;
    }
    .logo button:hover {
        cursor: pointer;
    }
    .know_us {
        display: none;
        outline: none;
        color: #000;
        font-size: 25px;
        transition: all .1s ease;
    }
    .know_us:hover {
        cursor: pointer;
        color: #78009a;
    }
    
    /* PORTADA------------------------------------------------- */
    .port_pc {
        display: grid;
        grid-template-columns: 630px 1fr;
        height: 100vh;
    }
    .port_mobile {
        display: none;
    }
    .contact {
        display: none;
    }

    .text_section {
        display: flex;
        flex-direction: column;
        padding-left: 100px;
        margin-top: 160px;
    }

    .text {        
        font-size: 70px;
    }
    .text span {
        color: #78009a;
    }

    .text_section small {
        margin: 20px 0 0 15px;
        font-size: 25px;
    }
    .text_section button {
        background: linear-gradient(to right, #78009a, #a500d3);
        color: #ddd;
        border: none;
        height: 80px;
        width: 400px;
        border-radius: 25px;
        font-size: 35px;
        transition: all .2s ease;
    }
    .text_section button:hover {
        cursor: pointer;
        transform: translateY(-8px);
        background: linear-gradient(to right, #ae01de, #c554e5);
        border-bottom: 2px solid #78009a;
        box-shadow: 10px 10px 10px rgba(15, 0, 19, .6);
    }

    .img_section {
        display: grid;
        padding: 30px 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0 36px;
    }

    .img {
        border-radius: 16%;
        border: 2px solid #ddd;
        outline: 3px solid #78009a;
        box-shadow: 12px 12px 10px rgba(15, 0, 19, .5);
    }
    .img-1 {
        height: 330px;
        width: 330px;        
        justify-self: end;
        align-self: end;
        overflow: hidden;        
    }
    .img-1 img {
        width: 330px;
        filter: sepia(20%) hue-rotate(-20deg) saturate(150%);
        transition: all .3s ease;
    }
    .img-1 img:hover {
        transform: scale(1.2);
    }
    .img-2 {
        height: 200px;
        width: 200px;
        justify-self: start;
        align-self: center;
        overflow: hidden;
    }
    .img-2 img {
        width: 200px;
        transition: all .3s ease;
    }
    .img-2 img:hover {
        transform: scale(1.2);
    }
    .img-3 {
        height: 200px;
        width: 200px;
        justify-self: end;
        align-self: center;
        overflow: hidden;
    }
    .img-3 img {
        width: 200px;
        transition: all .3s ease;
    }
    .img-3 img:hover {
        transform: scale(1.2);
    }
    .img-4 {
        height: 300px;
        width: 300px;        
        justify-self: start;
        align-self: start;
        overflow: hidden;
    }
    .img-4 img {
        margin-top: -30px;
        width: 300px;
        filter: sepia(20%) hue-rotate(-20deg) saturate(150%);
        transition: all .3s ease;
    }
    .img-4 img:hover {
        transform: scale(1.2);
    }

    @keyframes upDown {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
    }

    .up-down-animation {
        animation: upDown 2.5s infinite;
    }

    /* INFO----------------------------------------------------- */
    .information {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }
    .presentation {
        width: 100%;
        font-size: 26px;
    }

    .info-box {
        display: flex;
        flex-direction: column;
        width: 33%;
        padding: 40px 40px 80px;
    }
    .info-box img {
        margin: 10px auto;
        width: 50px;
        height: 50px;
        transition: all .3s ease;
    }
    .info-box:hover > img {
        transform: scale(1.2);
    }
    .info-text:hover {
        outline: 2px solid #78009a;
    }

    /* FOOTER---------------------------------------------------- */
    .link_container_pc {
        display: flex;
        padding: 20px;
    }
    .link_container {
        display: none;
    }

    .contact_us:first-child {
        margin: 4px 0 4px auto;
    }
    .contact_us:nth-child(2) {
        margin: 4px auto 4px 0;
    }

    .num_container {
        padding: 4px;
        margin: 4px 0 4px 41.0625px;
        color: #ddd; 
    }
    .num_container a {
        text-decoration: none;
        color: #ddd;
    }
    .num_container img {
        width: 20px;
        margin-top: 2px;
        vertical-align: middle;
    }
    .num_container img:hover {
        filter: invert(16%) sepia(100%) saturate(7487%) hue-rotate(262deg) brightness(70%) contrast(100%);
    }
    .num_container p {
        vertical-align: middle;
    }
    .num_container a p:hover {
        color: #bbb;
    }
}